<h1>Hobbies </h1>

<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<%= link_to "Add Hobbies", new_hobby_path %>
<h3>Your Hobbies</h3>
<ul>
  <% @hobbies.each do |hobby| %>
    <li>
      <%= hobby.name %> - <%= hobby.description %>
    </li>
 <%= link_to 'Delete Hobby', hobby_path(hobby), method: :delete%>
  <% end %>

</ul>


