<h1>Add Hobby</h1>
<%= form_with(model: @hobby, local: true) do |f| %>
  
  <div class='field'>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
</div>  
  
  <div class='field'>
    <%= f.label :description %>
    <%= f.text_field :description %>
</div>  
  <%= f.submit %>
<% end %>

<%= link_to "Hobbies", hobbies_path%>